.chat-list {
    display: flex;
    flex-direction: column;
}

.chat {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
}

.chat-picture {
    flex-basis: 3%;
    align-items: center;
}

.chat-details {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 89.5%;
    border-bottom: 1px solid #e7e7e7;
}

.chat-name {
    padding: 10px;
}

.chat-last-message {
    padding-left: 10px;
    color: #989898;
}

.chat-meta {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #e7e7e7;
    flex-basis: 7.5%;
    text-align: end;
}
.chat-time {
    padding: 10px;
    color: #989898;
}

.material-icons.done_all {
    padding-left: 10px;
    padding-right: 10px;
    color: #8e24aa;
}