.source {
    height: 100px;
    width: 50%;
    /* border-right: solid #e5e5e5; */
}

.form_input {
    border: 0;
    font-size: 14px;
    outline: none;
    height: 60px;
    padding-left: 15px;
    width: calc(100% - 2px);
}

input[type=submit] {
    visibility: collapse;
} 