.chat {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    transition: background-color 0.5s  0.2s; ;
}

.chat:hover {
    background-color: #dcc8e3;
}

.chat_picture {
    flex-basis: 3%;
    align-items: center;
}

.picture {
    border-radius: 60px;
}
.chat_detail {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 89.5%;
    border-bottom: 1px solid #e7e7e7;
}

.chat_name {
    padding: 10px;
}

.chat_last_message {
    padding-left: 10px;
    color: #989898;
}

.chat_meta {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #e7e7e7;
    flex-basis: 7.5%;
    text-align: end;
}
.chat_time {
    padding: 10px;
    color: #989898;
}

.done_all {
    padding-left: 10px;
    padding-right: 10px;
    color: #8e24aa;
}