.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 100px;
    overflow-y: scroll;
}

.message { 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 8px;
    padding: 10px 20px 0px 10px;
    word-break:break-all;
    align-self: flex-end;
    background-color: #f1e5f4;
}

.message-text {
    align-self: flex-end;
    font-size: 14px;
}

.message-meta {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 4px;
}

.message-date {
    color: #7c797d;
}