.header {
    display: flex;
    height: 100px;
    background-color: #8e24aa;
}

.arrow_back {
    color: white;
    background-color:#8e24aa;
    flex-basis: 3%;
    margin-left: 3%;
    border: 0;
}

.edit_profile {
    color: white;
    display: flex;
    flex-basis: 95%;
    margin-left: 5%;
    font-size: 20px;
    align-items: center;
}

.done {
    color: white;
    background-color:#8e24aa;
    border: 0;
    flex-basis: 3%;
    margin-right: 3%;
}



/* <header className="header">
<button className={classes.arrow_back} type="" onClick={handleChatClick}>
    <span className="matreial-icons">arrow_back</span>
</button>
<div className={classes.edit_profile}>Edit Profile</div>
<button className={classes.done} type="">
  <span className="material-icons">done</span>
</button>
</header> */