 .message { 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 8px;
    padding: 10px 20px 0px 10px;
    word-break:break-all;
    align-self: flex-end;
    background-color: #f1e5f4;
    animation: anim-lineUp 0.8s  ;
}

.source {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 14px;
    animation: anim-lineUp 0.8s  ;
}
.destination {
    padding-left: 20px;
    padding-bottom: 10px;
    color: #5d6065;
    font-size: 14px;
    animation: anim-lineUp 0.8s ;
    border-bottom: solid #e5e5e5;
}